<div class="topic-index-wrapper">
   <div class="container">
   <!-- いいね一覧は写真のみ表示し、詳細は,show頁で　 -->
   <div class="row" style="display: flex;">
       <div class="col-md-12">
          <% @like_topics.each do |topic| %>
              <div class="col-md-4 ">
                 <div class="topic-index-single">
                   <h2 class = "topic-author">
                     <%= topic.user.name %>
                   </h2>
                   <div class="topic-image">
                      <%= image_tag topic.image.url %>
                   </div>
                   <h5 class = "topic-link">
                     <%= link_to("Fishing logへ", topic_path(id: topic.id) ) %>
                   </h5>
                 </div>
              </div>
          <% end %>
       </div>
    </div>
   </div>
</div>
