body {
  background-color: #f0f8ff;
  font-size: 14px;
  color: #333;
  margin: 0;
}

h1,h2,h3,h4,h5 {
  margin: 0 0 10px 0;
  padding: 0;
}


h1,h2 {
  font-weight: 100;
}

.text-white {
  color: #fff;
}

.btn-white {
  color: #fff;
  border: 1px solid #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.0);
  &:hover {
    color: #fff;
  }
}

.top-hero-wrapper{
  width: 100vw;
  height: 100vh;
  background: image-url("bg-top.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.top-hero-container {
  padding-top: 100px;
  h1 {
    font-size: 56px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  h2 {
    margin-bottom:  280px;
  }
}

.form-control {
  height: 45px;
}

.users-new-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: image-url('nerimasalmon.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  .users-new-container {
    padding-top: 130px;
    .form-group {
     margin-bottom: 20px;
    }
  }
}

.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

.navbar-transparent{
  margin-bottom: 0px;
  background-color: rgba(0,0,0,0.5);
  a {
    color: #fff !important;
  }
  .navbar-brand{
    padding: 0px;
    margin-top: 10px;
    height: auto;
    width:auto;
  }
  .navbar-right {
    display: inline-block;
  }
  img {
  height: 40px;
  display: inline-block;
  }
}

.fa-1x {
font-size: 1.5rem;
}
.navbar-toggler.toggler-example {
cursor: pointer;
}
.dark-blue-text {
color: #0A38F5;
}

.btn-black{
  color: #565656;
  border: 1px solid #565656;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.0);
  &:hover{
    color: #565656;
  }
}

.topic-new-wrapper {
  padding-top: 120px;
  .form-group {
    margin-bottom: 30px;
  }
  .topic_new_form_size {
    width: 100%;
    height: 800px;
  }
}

//　釣り場メモ　記入欄
.form_size {
    width: 100%;
    height: 150px;
    margin-bottom: 30px;
}


// (topic/-index)_-(like-index)頁
.topic-index-wrapper {
  margin-top: 10px;
  padding-top: 70px;
  background-color: #fafafa;
 // .visible-xs-block {
 //   display: block;
 // }

  .topic-index-single {
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border: 1px solid #e6ecf0;
    border-radius: 3px;
    // display: inline-block;
    .topic-image {
      padding-left: 10px;
      padding-right: 10px;
      background-size: contain;
      img {
        // padding-left: 10px;
        // padding-right: 10px;
        // background-size: contain;
        // margin-top: 10px;
        // // margin-bottom: 10px;
        // width: 220px;
        height: 220px;
        max-width: 100%;
        max-height: 100%;
        display: block;
        text-align: center;
        margin: auto;
        // object-fit: contain;
      }
    }
    .topic_link {
      h5 {
        font-size: 10px;
        margin-bottom: 0
      }
    }
  }
}

// topic/-show頁
.topic-show-wrapper {
  padding-top: 70px;
  background-color: #fafafa;
  .comments-index {
    padding-top: 70px;
    .comment-input {
      .topic-comment-icon {
        width: 40px;
        height: 40px;
        margin-left: 20px;
      }
    }
  }

  .show-index-single {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    border: 1px solid #e6ecf0;
    border-radius: 3px;
      .topic-author {
        padding-right: 20px;
        padding-left: 20px;
      }
      .show-topic-image {
        padding-left: 20px;
        padding-right: 20px;
        img {
          margin-top: 10px;
          margin-bottom: 10px;
          width: 680px;
          height: 680px;
          max-width: 100%;
          max-height: 100%;
          object-fit: contain;
        }
      }
      .icon-area {
        margin-bottom: 20px;
        .topic-index-icon {
          width: 35px;
          height: 30px;
          margin-left: 20px;
        }
        .topic-text {
          padding-right: 10px;
          padding-left: 10px;
          display: inline;
        }
      }
      .topic-detail {
        padding: 10px;
      }
  }
}
